<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Teste</title>

    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      body {
      }
    </style>
  </head>
  <body>
    <h1 style="color: white; text-align: center;">Use as setas &larr; &rarr; para mover o Diddy</h1>

    <canvas
      id="diddy-canvas"
      width="800"
      height="450"
      style="display: block; margin: 0 auto; border: 2px solid red"
      data-controller="diddy"
      data-diddy-background-url-value="<%= asset_path("fundo.jpg") %>"
      data-diddy-sprite-url-value="<%= asset_path("diddy.png") %>"
      data-diddy-tile-url-value="<%= asset_path("tile.png") %>"
      data-diddy-level-cols-value="120"></canvas>
  </body>
</html>