<div class="editor-page">
  <div class="editor-container">
    <div class="editor-header">
      <h1>Edit Level</h1>
      <%= link_to "â† Back to Level", level_path(@level), class: "back-link" %>
    </div>

    <%= render "form", level: @level %>
  </div>
</div>
