<div class="editor-page">
  <div class="editor-container">
    <div class="editor-header">
      <h1>New Level</h1>
      <%= link_to "â† Back to Levels", levels_path, class: "back-link" %>
    </div>

    <%= render "form", level: @level %>
  </div>
</div>
